<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".apk" />
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream.ipa" />
            <mimeMap fileExtension=".plist" mimeType="application/xml" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
		<security>
		  <requestFiltering>
			<requestLimits maxAllowedContentLength="262144000"></requestLimits>
		  </requestFiltering>
		</security>
    </system.webServer>
    <connectionStrings>
    	<add name="CreditSysConnectionString" connectionString="Data Source=10.1.20.68;Initial Catalog=CreditSys;Persist Security Info=True;User ID=shlib_editor;Password=editor_201*" providerName="System.Data.SqlClient" />
	</connectionStrings>
	 <system.web>
	 	<httpRuntime maxRequestLength="51200" executionTimeout="3600" />
		<pages validateRequest="false" />
	  </system.web>
	  
	  
</configuration>
