/* 导航栏 24x24 */
.icon-tree {
	background-image: url(icon/24/tree2.png);
}
.active .icon-tree {
	background-image: url(icon/24/tree.png);
}

.icon-explore {
	background-image: url(icon/24/new2.png);
}
.active .icon-explore {
	background-image: url(icon/24/new.png);
}

.icon-me {
	background-image: url(icon/24/me2.png);
}
.active .icon-me {
	background-image: url(icon/24/me.png);
}

/* 菜单 16x16 */
.icon-back {
	background-image: url(icon/16/back.png);
}
.icon-menu {
	background-image: url(icon/16/menu.png);
}
.icon-fav {
	background-image: url(icon/16/fav.png);
}
.icon-viewfav {
	background-image: url(icon/16/viewfav.png);
}
.icon-create {
	background-image: url(icon/16/create.png);
}
.icon-add {
	background-image: url(icon/16/add.png);
}
.icon-edit {
	background-image: url(icon/16/edit.png);
}
.icon-delete {
	background-image: url(icon/16/delete.png);
}
.icon-refresh {
	background-image: url(icon/16/refresh.png);
}
.icon-link {
	background-image: url(icon/16/link.png);
}
.icon-unlink {
	background-image: url(icon/16/unlink.png);
}
.icon-address {
	background-image: url(icon/16/address.png);
}
.icon-id {
	background-image: url(icon/16/number.png);
}
.icon-dscr {
	background-image: url(icon/16/dscr.png);
}
.icon-person {
	background-image: url(icon/16/person.png);
}
.icon-user {
	background-image: url(icon/16/user.png);
}
.icon-year {
	background-image: url(icon/16/year.png);
}
.icon-year2 {
	background-image: url(icon/16/year2.png);
}
.icon-rank {
	background-image: url(icon/16/rank.png);
}
.icon-family {
	background-image: url(icon/16/family.png);
}
.icon-book {
	background-image: url(icon/16/book.png);
}
.icon-group {
	background-image: url(icon/16/group.png);
}
.icon-search {
	background-image: url(icon/16/search.png);
}
.icon-gender {
	background-image: url(icon/16/gender.png);
}
.icon-phone {
	background-image: url(icon/16/phone.png);
}
.icon-code {
	background-image: url(icon/16/code.png);
}
