.icon-tree {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px 0px !important; width: 24px; height: 24px; /* 48x48 */
}
.active .icon-tree {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px -24px !important; width: 24px; height: 24px; /* 48x48 */
}

.icon-explore {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px -48px !important; width: 24px; height: 24px; /* 48x48 */
}
.active .icon-explore {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px -72px !important; width: 24px; height: 24px; /* 48x48 */
}

.icon-me {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px -96px !important; width: 24px; height: 24px; /* 48x48 */
}
.active .icon-me {
	background-image: url(icon/icon@2x-24.png); background-size: 24px !important; background-position: 0px -120px !important; width: 24px; height: 24px; /* 48x48 */
}

.icon-back {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px 0px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-menu {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -16px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-fav {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -32px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-viewfav {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -48px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-create {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -64px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-add {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -80px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-edit {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -96px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-delete {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -112px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-refresh {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -128px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-link {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -144px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-unlink {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -160px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-address {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -176px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-id {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -192px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-dscr {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -208px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-person {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -224px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-user {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -240px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-year {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -256px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-year2 {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -272px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-rank {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -288px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-family {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -304px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-book {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -320px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-group {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -336px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-search {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -352px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-gender {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -368px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-phone {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -384px !important; width: 16px; height: 16px; /* 32x32 */
}
.icon-code {
	background-image: url(icon/icon@2x-16.png); background-size: 16px !important; background-position: 0px -400px !important; width: 16px; height: 16px; /* 32x32 */
}
/* generated by jdcloud-sprite @ 2017-01-06T02:36:26+08:00 */