/* Add here all your css styles (customizations) */
.content-lg {
	padding-bottom: 50px;
}
.content-md {
	padding-bottom: 40px;
}
.modal-body .modal-bot img {
    width: auto;
	max-width: 100%;
}

.info {
    color: #999;
    line-height: 20px;
}
.modal-content {
	background: #33333f;	
}
a .hot {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: -5px;
    width: 18px;
    height: 15px;
}
@media (min-width: 992px){
.architecture-nav .left  {
    padding-left: 70px;
}
.architecture-nav .right  {
    padding-right: 70px;
}
}
@media (max-width: 991px){
.modal-body .modal-top img {
    margin-top: 0;
}
}
*{
	word-break: break-all;
	word-wrap: break-word;
}
a.button.blog-button {
    display: block;
    line-height: 40px;
    vertical-align: middle;
    background: transparent;
    border-radius: 6px;
    border: solid 1px rgb(255, 80, 0);
    color: rgb(255, 80, 0);
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}
i.icon-custom-right {
	color: #e67e22;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	letter-spacing: 2px;
	width: 55px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	border: solid 1px #555;
	border-color: transparent;
	position: absolute;
	left: 10px;
	top: 50px;
}
.awardsList>div {
	margin-bottom: 40px;
}
.awardsList>div h2 {
    text-transform: none;
}